.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Gowun Batang', serif;
  font-family: 'Roboto Flex', sans-serif;
}

.header {
  height: 60px;
  border-bottom: 1px solid #E3E8EC;
  padding-left: 10px;
}

.contents-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.cryptoDetail {
  height: 100%;
}

.priceDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 390px;
  margin-left: auto;
  border-left: 1px solid #E3E8EC;
}

.aside {
  width: 420px;
  margin-left: auto;
  height: 100%;
  border-left: 1px solid #E3E8EC;
}

.cryptoList {
  background-color: white;
}

.ps__rail-y {
  width: 0px !important;
}

.ps__thumb-y {
  width: 5px !important;
  background-color: #9e9e9e !important;
}

#scrollBar-askingPriceTable {
  width: 100%;
  max-height: 360px;
  /* max-height: calc(100vh - 1090px); */
  /* max-height: 100%; */
  /* max-height: 30%; */
  /* max-height: 415px; */
  /* overflow-x: hidden; */
}

#scrollBar-askingPriceTable .ps__thumb-y {
  width: 6px !important;
  height: 99px !important;
  display: block !important;
}

.scrollBar-priceDetail .ps__thumb-y {
  width: 10px !important;
  height: 300px !important;
  display: none !important;
}

#scrollBar-closedPriceTable {
  width: 100%;
  max-height: 360px;
  /* max-height: 100%; */
  /* max-height: calc(100vh - 1090px); */
  /* max-height: 415px; */
  /* overflow-x: hidden; */
}

#scrollBar-closedPriceTable .ps__thumb-y {
  width: 6px !important;
  height: 99px !important;
  display: block !important;
}

#scrollBar-trading-history-table {
  width: 100%;
  /* max-height: calc(100vh - 1150px); */
  max-height: 259px !important;
  overflow-x: hidden;
  /* margin-top: -6px; */
  /* padding-top: -6px; */
  border-bottom: 1px solid #E3E8EC;
}

#scrollBar-trading-history-table .ps__thumb-y {
  width: 6px !important;
  /* height: 80px !important; */
  display: block !important;
}

/* 스크롤바 색 지정 */
.simplebar-scrollbar:before {
  background-color: #727272;
}


/* footer CSS */
.footer {
  height: 90px;
  border-top: 1px solid #E3E8EC;
  margin: 0 10px;
}

.footer div {
  font-size: 16px;
  line-height: 90px;
  text-align: center;
}

.custom-input {
  border: none;
}

.footer span {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.darkMode {
  border-color: rgb(156, 153, 153, 0.2);
  background-color: #161A1E;
  /* color: #B7BDC6; */
  color: #b3b4b6;
}

.darkMode-title {
  border-color: rgb(156, 153, 153, 0.2);
  background-color: #161A1E;
  color: #e1e1e1;
}

.cursor-pointer {
  cursor: pointer;
}

.no-drag {
  user-select: none;
}

input:focus {
  outline: none;
}