.container-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 80px;
}

.form-auth {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 17px;
}

.form-auth input:nth-child(1) {
  border: none;
  width: 80%;
  height: 45px;
  font-size: 15px;
}

.form-auth input:nth-child(2) {
  border: none;
  width: 80%;
  height: 43px;
  font-size: 15px;
}