.container-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 370px;
  padding-left: 100px;
}

.form-login input:nth-child(1) {
  border: none;
  width: 80%;
  height: 45px;
  margin-left: 10px;
  font-size: 15px;
}

.form-login input:nth-child(2) {
  border: none;
  width: 80%;
  height: 43px;
  margin-left: 13px;
  font-size: 15px;
}

.section-name,
.section-email,
.section-password {
  margin-bottom: 15px;
  width: 100%;
}

.section-password {
  margin-bottom: 0px;
}

.login-footer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
  font-size: 14.5px;
  font-weight: bold;
}

.login-footer span:nth-child(1) {
  cursor: pointer;
}

.login-footer span:nth-child(2) {
  margin-left: 25px;
  cursor: pointer;
}