.container-signUp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    padding-left: 100px;
    height: 85vh;
}

.form-signUp input:nth-child(1) {
    border: none;
    width: 80%;
    height: 45px;
    margin-left: 10px;
    font-size: 15px;
}

.form-signUp input:nth-child(2) {
    border: none;
    width: 80%;
    height: 43px;
    margin-left: 13px;
    font-size: 15px;
}

.form-signUp input:nth-child(3) {
    border: none;
    width: 80%;
    height: 43px;
    margin-left: 10px;
    font-size: 15px;
}

.section-name,
.section-email,
.section-password {
    margin-bottom: 15px;
    width: 100%;
}

.section-password {
    margin-bottom: 0px;
}

.signUp-footer {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: center;
    font-size: 14.5px;
    font-weight: bold;
    cursor: pointer;
}