.favicon-title {
    display: flex;
    align-items: center;
    height: 370px;
    padding-right: 100px;
    border-right: 1.5px solid #c7c6c6;
}

.favicon-title-img {
    padding: 15px;
    width: 60px;
}

.favicon-title-name {
    font-size: 60px;
    margin-bottom: 4px;
}