.trading-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 125px;
    padding: 30px 25px 0px 40px;
}

.crypto-change_rate {
    margin-left: 4px;
    font-size: 18px;
    font-weight: lighter;
}

.crypto-change_price {
    margin-top: 4px;
    font-size: 20px;
    font-weight: lighter;
}

.crypto-price {
    font-weight: bold;
    font-size: 36px;
}

.rise {
    color: #22ab94;
}

.fall {
    color: #f23645;
}

.even {
    color: black;
}

.div-dl {
    height: 100%;
}

dl {
    position: relative;
    margin-top: -9px;
    float: right;
    margin-left: 25px;
}

dt {
    color: #111111;
    font-size: 13px;
    margin-top: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid #E3E8EC;
}

dd {
    font-size: 15px;
    float: right;
    display: inline;
    color: black;
    padding-left: 10px;
}

dd span {
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    font-weight: bold;
}

.dd-high_price {
    font-size: 15px;
    color: #22ab94;
    font-weight: lighter;
}

.dd-low_price {
    font-size: 15px;
    color: #f23645;
    font-weight: lighter;
}

.img-price_rise {
    filter: invert(48%) sepia(100%) saturate(349%) hue-rotate(120deg) brightness(95%) contrast(84%);
    width: 10px;
    padding-right: 3px;
    padding-left: 1px;
}

.img-price_fall {
    filter: invert(56%) sepia(93%) saturate(4750%) hue-rotate(329deg) brightness(88%) contrast(118%);
    width: 10px;
    padding-right: 3px;
    padding-left: 3px;
}

.img-price_even {
    width: 10px;
    padding-right: 3px;
}