/* 전체 요소를 감싸는 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /* width: 1500px; */
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Gowun Batang', serif;
  font-family: 'Roboto Flex', sans-serif;
}

/* header CSS */
.header {
  height: 70px;
  /* border-bottom: 1px solid #E3E8EC; */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-left: 10px;
}

.header-nav {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

/* 차트, 호가 및 체결내역, 화폐 리스트 영역 CSS */
.content-container {
  width: 100%;
  height: 100%;
  display: flex;
}

/* 차트, 호가 및 체결내역 CSS */
.main {
  width: 100%;
  height: 100%;
  display: flex;
}

.div-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
}

.div-title-nav {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 55px;
}

.backButton {
  position: absolute;
  left: 45px;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  right: 45px;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title-img-light {
  padding: 15px;
  width: 23px;
}

.title-img-dark {
  padding: 15px;
  width: 23px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(99deg) brightness(104%) contrast(102%);
}

.title-name {
  font-size: 23px;
  margin-left: -10px;
}

.member-nav-unLogIn {
  position: absolute;
  left: 92.3%;
  font-size: 13px;
}

.member-nav-LogIn {
  position: absolute;
  left: 89%;
  font-size: 13px;
}

.logIn, .signUp, .logInUser, .logOut, .user-favorite-crypto {
  margin-right: 22px;
  cursor: pointer;
}

.changeTheme {
  position: absolute;
  width: 23px;
  left: 98%;
  cursor: pointer;
}

.changeTheme:hover {
  color: rgb(242, 242, 4);
}

/* TradingView 컴포넌트 CSS */
.TradingView {
  height: 100%;
  /* height: 1422.98px; */
  /* width: 65%; */
  /* flex: 0 0 75%; */
  flex: 1;
  /* background-color: white; */
}

.crypto-name {
  padding: 25px 30px;
  font-weight: bold;
  font-size: 26px;
  /* color: rgba(0, 0, 0, 0.8); */
  border-bottom: 1px solid rgb(228, 229, 230);
  
}

.crypto-img {
  position: relative;
  width: 24px;
  margin-right: 7px;
  top: 2px;
}

.crypto-market {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.trading-detail {
  /* background-color: white; */
  /* border-left: 1px solid #E3E8EC; */
  height: 155px;
}

.crypto-price-rise {
  padding: 30px 40px 0px;
  font-weight: bold;
  font-size: 36px;
  color: #22ab94;
  /* border-bottom: 1px solid rgb(228, 229, 230);  */
}

.crypto-price-fall {
  padding: 30px 40px 0px;
  font-weight: bold;
  font-size: 36px;
  color: #f23645;
  /* border-bottom: 1px solid rgb(228, 229, 230);  */
}

.crypto-price-even {
  padding: 30px 40px 0px;
  font-weight: bold;
  font-size: 36px;
  color: black;
  /* border-bottom: 1px solid rgb(228, 229, 230);  */
}

.crypto-change_rate-rise {
  margin-left: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.crypto-change_rate-fall {
  margin-left: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.crypto-change_rate-even {
  margin-left: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.crypto-change_price-rise {
  padding: 10px 43px 0px;
  font-size: 20px;
  color: #22ab94;
}

.crypto-change_price-even {
  padding: 10px 43px 0px;
  font-size: 20px;
  color: black;
}

.crypto-change_price-fall {
  padding: 10px 43px 0px;
  font-size: 20px;
  color: #f23645;
}

.trading-header {
  /* padding-top: 50px; */
  padding: 5px;
  border-bottom: 1px solid #E3E8EC;
  border-top: 1px solid #E3E8EC;
}

.table-delimited {
  font-size: 14px;
  padding-left: 12px;
}

.td-delimited {
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.td-delimited-selected {
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  color: #2962FF;
  font-weight: bold;
}

.td-delimited:hover {
  /* background-color: rgb(228, 228, 228); */
  /* color: #2962FF; */
  font-weight: bold;
}

/* 드롭다운 css */
.dropDown {
  display: inline-block;
  position: relative;
  font-size: 14px;
  z-index: 1;
}

.dd-button {
  display: inline-block;
  border: none;
  padding: 10px 0px;
  cursor: pointer;
  white-space: nowrap;

}

.chartSortDate {
  padding-left: 5px;
  padding-right: 1px;
  cursor: pointer;
}

.chartSortDate:hover {
  cursor: pointer;
  font-weight: bold;
}

.chartSortDate-selected {
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 1px;
  color: #2962FF;
  font-weight: bold;
  cursor: pointer;
}

.chartSortDate-selected:hover {
  /* background-color: rgb(228, 228, 228); */
  /* color: #2962FF; */
  font-weight: bold;
}

.img-dd {
  width: 9px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  left: 12px;
  border: 1px solid rgb(228, 229, 230);
  border-radius: 2px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-menu-li {
  color: #2962FF;
  font-weight: bold;
}

.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 13px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu button {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  background-color: white;
  border: none;
}

.dd-menu li:hover {
  /* background-color: #f6f6f6; */
  color: #2962FF;
  font-weight: bold;
}

.img-price_rise {
  filter: invert(48%) sepia(100%) saturate(349%) hue-rotate(120deg) brightness(95%) contrast(84%);
  width: 10px;
  padding-right: 3px;
  padding-left: 1px;
}

.img-price_fall {
  filter: invert(56%) sepia(93%) saturate(4750%) hue-rotate(329deg) brightness(88%) contrast(118%);
  width: 10px;
  padding-right: 3px;
  padding-left: 3px;
}

.img-price_even {
  width: 10px;
  padding-right: 3px;
}

.trading-chart {
  height: 80%;
  color: #000000;
}

.selectedDetail_dl_2 {
  margin-left: 15px;
}

dl {
  margin-top: -9px;
  float: right;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 25px;
}

dt {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #E3E8EC;
}

dd {
  font-size: 15px;
  float: right;
  display: inline;
  color: black;
  padding-left: 10px;
}

dd span {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: bold;
}

.dd-high_price {
  font-size: 15px;
  color: #22ab94;
  font-weight: lighter;
}

.dd-low_price {
  font-size: 15px;
  color: #f23645;
  font-weight: lighter;
}

/* 호가, 체결내역 공간 css */
.PriceDetail {
  /* flex: 0 0 25%; */
  width: 350px;
  margin-left: auto;
  /* background-color: white;   */
  /* border-left: 1px solid #E3E8EC; */
  /* border-right: 1px solid #E3E8EC; */
  /* border-bottom: 1px solid #E3E8EC; */
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}

.priceDetail-title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* border-bottom: 1px solid rgba(73, 73, 73, 0.5); */
  padding: 16px 50px;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.closedTitle {
  border-top-width: 1px;
  border-top-style: solid;
}
.closedPrice-table,
.askingPrice-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
} 

.closedPrice-table thead tr,
.askingPrice-table thead tr {
  /* border-bottom: 1px solid #E3E8EC; */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* border-bottom: 1px solid rgba(73, 73, 73, 0.5);  */
}

/* .closedPrice-table tbody tr,
.askingPrice-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
} */

.askingPrice-table th:nth-child(1),
.askingPrice-table td:nth-child(1),
.closedPrice-table th:nth-child(1),
.closedPrice-table td:nth-child(1) {
  text-align: left;
}

.askingPrice-table th:nth-child(2),
.askingPrice-table td:nth-child(2),
.closedPrice-table th:nth-child(2),
.closedPrice-table td:nth-child(2) {
  text-align: right;
}

.askingPrice-table th:nth-child(3),
.askingPrice-table td:nth-child(3),
.closedPrice-table th:nth-child(3),
.closedPrice-table td:nth-child(3) {
  text-align: right;
}

.askingPrice-table thead th {
  font-size: 14px;
  padding: 10px 0px;
  white-space: nowrap;
}

.askingPrice-table th:nth-child(1),
.askingPrice-table td:nth-child(1) {
  padding-left: 13px;
}

.askingPrice-table th:nth-child(3),
.askingPrice-table td:nth-child(3) {
  padding-right: 13px;
}

.askingPrice-table td:nth-child(3),
.closedPrice-table td:nth-child(3) {
  direction: rtl;
}

.askingPrice-table thead span, .closedPrice-table thead span {
  font-size: 13.5px;
  font-weight: lighter;
  padding-left: 1px;
}

.askingPrice-table tbody td {
  padding: 5px 0px;
  font-size: 13.5px;
  white-space: nowrap;
}

.change-bid {
  font-weight: bold;
  color: #22ab94;
}

.change-ask {
  font-weight: bold;
  color: #f23645;
}

.closedPrice-table th:nth-child(1),
.closedPrice-table td:nth-child(1) {
  padding-left: 13px;
}

.closedPrice-table th:nth-child(3),
.closedPrice-table td:nth-child(3) {
  padding-right: 13px;
}

.closedPrice-table thead th {
  font-weight: lighter;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px;
  white-space: nowrap;
}

.closedPrice-table tbody td {
  padding: 5px 0px;
  font-size: 13.5px;
  white-space: nowrap;  
}

.asking-buy {
  color: #22ab94;
}

.asking-sell {
  color: #f23645;
}

.trading-section {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.trading-section span {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 59px;
}

.trading-headTable {
  padding-top: 4px;
}

.trading-headTable,
.trading-table {
  padding-left: 11px;
  padding-right: 15px;
  font-size: 15px;
  border-spacing: 0 10px;
}

.trading-choice {
  width: 100%;
}

.trading-choice td {
  padding-left: 10px;
  font-size: 13.5px;
}

.trading-choice td:nth-child(1) {
  padding-left: 0px;
}

.trading-choice td:nth-child(2) {
  padding-left: 17px;
}

.radio-input {
  width: 13px;
  height: 13px;
}

.radio-label {
  cursor: pointer;
}

.trading-choice td:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
}

.trading-table tr,
.trading-headTable tr {
  width: 100%;
}

.trading-table td {
  /* margin-top: 200px; */
}

.trading-category {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.td-input {
  border: 1px solid #c7c6c6;
  border-radius: 2px;
  width: 74%;
  height: 28px;
}

.trading-table input {
  border: none;
  width: 95%;
  height: 20px;
  font-size: 13.5px;
  padding-left: 9px;
}

.count-percentage span {
  margin-left: 23px;
  font-size: 13.5px;
  cursor: pointer;
  color: #727272;
  /* border: 1px solid #e2e2e2;
  border-radius: 2px;
  padding: 3.5px 8px; */
}

.count-percentage span:nth-child(1) {
  margin-left: 0px;
}

.slider {
  width: 100%;
  margin-bottom: 7px;
}

/* 매수가격 하단 슬라이드바 */
input[type=range] {
  appearance: none;
  -webkit-appearance: none;
  width: 95%;
  height: 1.5px;
  background: #d3d3d3;
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color: #2962FF;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #22ab94;
}

/* input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius :50%;
    background-color :#22ab94 ;
} */

/* input[type=range]::-moz-range-track {
  width:100%;
  height :1.5px ;
  background:#d3d3d3 ;
} */

.trading-table input:focus {
  outline: none;
}

.trading-submit {
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: #ffffff;
}

.trading-submit span {
  border-radius: 2px;
}

.trading-submit span:nth-child(1) {
  background-color: #22ab94;
  padding: 10px 91px;
}

.trading-submit span:nth-child(2) {
  background-color: #22ab94;
  margin-left: 12px;
  padding: 10px 12px;
}

/* 화폐 리스트 영역 css */
.aside {
  width: 420px;
  margin-left: auto;
  height: 100%;
}

.CryptoList {
  background-color: white;
  /* width: 16.5%; */
  /* height: 1422.98px; */
  /* flex: 0 0 17%; */
  /* min-width: 0; */
}

.list-search {
  height: 36px;
  border-bottom: 1px solid silver;
  /* border-bottom-width: 1px; */
  /* border-bottom-style: solid; */
}

.img-search {
  position: relative;
  color: gray;
  height: 16.5px;
  left: 7px;
  top: 3px;
}

.crypto-search {
  margin: 10px 6px;
  border: none;
  width: 80%;
  outline: none;
  height: 17px;
  line-height: 17px;
}

.list-table {
  flex-direction: column;
  border-collapse: collapse;
  table-layout: fixed;
}

.list-thead {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.list-table th {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 12px;
  /* border-bottom: 1px solid rgb(228, 229, 230); */
  white-space: nowrap;
  cursor: pointer;
}

.list-table td {
  font-size: 12px;
  /* border-bottom: 1px solid rgb(228, 229, 230); */
  /* border: 1px solid transparent; */
  border-bottom-width: 1px; 
  border-bottom-style: solid;
  /* border-bottom: 1px solid #E3E8EC;
  border-top: 1pxs solid transparent; */
  padding: 9.5px;
  white-space: nowrap;
}

.change-price-rise {
  border-bottom: 1.5px solid #22ab94 !important;
  font-weight: bold;
}

.change-price-fall {
  border-bottom: 1.5px solid #f23645 !important;
  font-weight: bold;
}

.liat-table tr {
  width: 100%;
}

.name {
  padding-right: 115px;
  padding-left: 39px;
  width: 100%;
}

.price,
.compare,
.volume {
  padding-right: 31px;
}

.compare {
  padding-right: 15px;
}

.list-table tbody tr {
  cursor: pointer;
}

.list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-table tbody tr:hover {
  background-color: #e6e6e6;
}

.hover-lightMode:hover {
  background-color: #e6e6e6;
}

.hover-darMode:hover {
  background-color: red;
}

.scrollBar-listTable {
  width: 100%;
  max-height: calc(100vh - 135px);
  overflow-x: hidden;
}

.scrollBar-askingPriceTable {
  width: 100%;
  max-height: calc(100vh - 1025px);
  /* max-height: 415px; */
  overflow-x: hidden;
}

.scrollBar-closedPriceTable {
  width: 100%;
  max-height: calc(100vh - 1028px);
  /* max-height: 415px; */
  overflow-x: hidden;
}

/* 스크롤바 색 지정 */
.simplebar-scrollbar:before {
  background-color: #727272;
}

.td-name {
  width: 100%;
}

.span-star {
  position: relative;
  bottom: 6px;
  padding-left: 5px;
}

.div-name {
  padding-left: 13px;
  display: inline-block;
}

.td-rise {
  color: #22ab94;
}

.td-fall {
  color: #f23645;
}

.td-even {
  color: black;
}

.sort {
  position: relative;
  top: 1px;
  left: 1px;
}

/* footer CSS */
.footer {
  height: 90px;
  border-top: 1px solid #E3E8EC;
  margin: 0 10px;
}

.footer div {
  font-size: 16px;
  line-height: 90px;
  text-align: center;
}

.custom-input {
  border: none;
}

.footer span {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
.lightMode {  
  border-color: #E3E8EC;
}

.lightMode-title {  
  border-color: #9e9e9e;
}

.lightMode-title {  
  border-color: #7f7f7f;
}

.lightMode-title {  
  border-color: #E3E8EC;
}

.darkMode {
  border-color: rgb(156, 153, 153, 0.2);
  background-color: #161A1E;
  /* color: #B7BDC6; */
    color: #b3b4b6;
}

.darkMode-title {
  border-color: rgb(156, 153, 153, 0.2);
  background-color: #161A1E;
  color: #e1e1e1;
}

/* 회원가입 CSS */
.container-signUp {
  /* font-family: 'Asap Condensed', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Gowun Batang', serif;
  font-family: 'Roboto Flex', sans-serif; */
}

.div-signUp {
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85vh;
  /* width: 100vw; */
}

.signUp-title {
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  height: 370px;
  padding-right: 100px;
  border-right: 1.5px solid #c7c6c6;
}

.signUp-title-img-light {
  padding: 15px;
  width: 72px;
}

.signUp-title-name {
  font-size: 80px;
  margin-left: -7px;
}

.title-signUp {
  align-items: center;
  font-size: 23px;
  font-weight: bold;
  margin-top: 160px;  
}

.view-signUp {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000000; */
  /* margin-top: 45px; */
  width: 370px;
  padding-left: 100px;
  /* height: 55%; */
  /* background-color: red; */
}

.container-input-nonClick {
  border: 1px solid #c7c6c6;
  border-radius: 7px;
}

.container-input-click {
  border: 1px solid #08c0a2;
  border-radius: 7px;
}

.section-name,
.section-email,
.section-password {
  margin-bottom: 15px;
  width: 100%;
}

.signUp-name,
.signUp-email,
.signUp-password {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
}

.input-inValid {
  border-color: red;
}

.inValid-alert {
  font-size: 13px;
  color: red;
}

.icon-email,
.icon-password {
  position: relative;
  top: 10px;
  left: 10px;
}

.icon-password {
  cursor: pointer;
  left: 22px;
}

.view-signUp input:nth-child(1) {
  border: none;
  width: 80%;
  height: 45px;
  margin-left: 10px;
  font-size: 15px;
}

.view-signUp input:nth-child(2) {
  border: none;
  width: 80%;
  height: 43px;
  margin-left: 13px;
  font-size: 15px;
}

.view-signUp input:nth-child(3) {
  border: none;
  width: 80%;
  height: 43px;
  margin-left: 10px;
  font-size: 15px;
}

.view-signUp input:focus {
  outline: none;
}

.signUp-submit {
  width: 100%;
  margin-top: 30px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #22ab94;
  cursor: pointer;
  border: 1px solid #22ab94;
  border-radius: 7px;
}

.signUp-etc {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
  font-size: 14.5px;
  font-weight: bold;
  cursor: pointer;
  /* color: #c7c6c6; */
}

/* 
.signUp-etc span:nth-child(2) {
  cursor: pointer;
  margin-left: 30px;
} */

/* 로그인 화면 */
.container-logIn {

}

.div-logIn {
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85vh;
  /* width: 100vw; */
}

.logIn-title {
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  height: 370px;
  padding-right: 100px;
  border-right: 1.5px solid #c7c6c6;
}

.logIn-title-img-light {
  padding: 15px;
  width: 72px;
}

.logIn-title-name {
  font-size: 80px;
  margin-left: -7px;
}

.view-logIn {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000000; */
  /* margin-top: 45px; */
  width: 370px;
  padding-left: 100px;
  /* height: 55%; */
  /* background-color: red; */
}

.logIn-email,
.logIn-password {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
}

.view-logIn input:nth-child(1) {
  border: none;
  width: 80%;
  height: 45px;
  margin-left: 10px;
  font-size: 15px;
}

.view-logIn input:nth-child(2) {
  border: none;
  width: 80%;
  height: 43px;
  margin-left: 13px;
  font-size: 15px;
}

.view-logIn input:nth-child(3) {
  border: none;
  width: 80%;
  height: 43px;
  margin-left: 10px;
  font-size: 15px;
}

.view-logIn input:focus {
  outline: none;
}

.logIn-submit {
  width: 100%;
  margin-top: 30px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #22ab94;
  cursor: pointer;
  border: 1px solid #22ab94;
  border-radius: 7px;
}

.logIn-etc {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
  font-size: 14.5px;
  font-weight: bold;
}

.logIn-etc span:nth-child(1) {
  cursor: pointer;
}

.logIn-etc span:nth-child(2) {
  margin-left: 25px;
  cursor: pointer;
}