/* 전체 요소를 감싸는 컨테이너 */
.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Gowun Batang', serif;
  font-family: 'Roboto Flex', sans-serif;
}

/* header CSS */
.header {
  height: 70px;
  border-bottom: 1px solid #E3E8EC;
  margin-left: 10px;
}

.div-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.title-img {
  padding: 15px;
  width: 23px;
}

.title-name {
  font-size: 23px;
  margin-left: -5px;
}

/* header, footer를 제외한 주요 내용을 담는 영역 */
.main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  background-color: #F6F8FA;
}

/* TradingView 컴포넌트 CSS */
.TradingView {
  /* height: 100%; */
  height: 1422.98px;
  width: 2140px;
  background-color: white;
}

.crypto-name {
  padding: 25px 30px;
  font-weight: bold;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgb(228, 229, 230);
}

.crypto-img {
  position: relative;
  width: 24px;
  margin-right: 7px;
  top: 2px;
}

.crypto-market {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.trading-detail {
  background-color: white;
  border-left: 1px solid #E3E8EC;
}

.crypto-price-rise {
  padding: 30px 40px 0px;
  font-weight: bold;
  font-size: 36px;
  color: #22ab94;
  /* border-bottom: 1px solid rgb(228, 229, 230);  */
}

.crypto-price-fall {
  padding: 30px 40px 0px;
  font-weight: bold;
  font-size: 36px;
  color: #f23645;
  /* border-bottom: 1px solid rgb(228, 229, 230);  */
}

.crypto-price-even {
  padding: 30px 40px 0px;
  font-weight: bold;
  font-size: 36px;
  color: black;
  /* border-bottom: 1px solid rgb(228, 229, 230);  */
}

.crypto-change_rate-rise {
  margin-left: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.crypto-change_rate-fall {
  margin-left: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.crypto-change_rate-even {
  margin-left: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.crypto-change_price-rise {
  padding: 10px 43px 0px;
  font-size: 20px;
  color: #22ab94;
}

.crypto-change_price-even {
  padding: 10px 43px 0px;
  font-size: 20px;
  color: black;
}

.crypto-change_price-fall {
  padding: 10px 43px 0px;
  font-size: 20px;
  color: #f23645;
}

.trading-header {
  margin-top: 50px;
  padding: 5px;
  border-bottom: 1px solid #E3E8EC;
  border-top: 1px solid #E3E8EC;
}

/* 드롭다운 css */
.dropDown {
  display: inline-block;
  position: relative;
  font-size: 14px;
}

.dd-button {
  display: inline-block;
  border: none;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.img-dd {
  width: 10px;
  margin-bottom: 1.5px;
  margin-left: 4px;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  left: 12px;
  border: 1px solid rgb(228, 229, 230);
  border-radius: 2px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu button {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  background-color: white;
  border: none;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.img-price_rise {
  filter: invert(48%) sepia(100%) saturate(349%) hue-rotate(120deg) brightness(95%) contrast(84%);
  width: 10px;
  padding-right: 3px;
  padding-left: 1px;
}

.img-price_fall {
  filter: invert(56%) sepia(93%) saturate(4750%) hue-rotate(329deg) brightness(88%) contrast(118%);
  width: 10px;
  padding-right: 3px;
  padding-left: 3px;
}

.img-price_even {
  width: 10px;
  padding-right: 3px;
}

/* .selectedDetail_dl_1 {

} */

.selectedDetail_dl_2 {
  margin-left: 15px;
}

dl {
  margin-top: -9px;
  float: right;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 25px;
}

dt {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #E3E8EC;
}

dd {
  font-size: 15px;
  float: right;
  display: inline;
  color: black;
  padding-left: 10px;
}

dd span {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: bold;
}

.dd-high_price {
  font-size: 15px;
  color: red;
  font-weight: lighter;
}

.dd-low_price {
  font-size: 15px;
  color: blue;
  font-weight: lighter;
}

/* CryptoList 컴포넌트 CSS */
.CryptoList {
  background-color: white; 
  width: 420px;
  /* height: 1422.98px; */
  height: 100%;
  border-left: 1px solid #E3E8EC;
}

.list-search {
  height: 36px;
  border-bottom: 1px solid silver;
}

.img-search {
  position: relative;
  color: gray;
  height: 16.5px;
  left: 7px;
  top: 3px;
}

.crypto-search {
  margin: 10px 6px;
  border: none;
  width: 80%;
  outline: none;
  height: 17px;
  line-height: 17px;
}

.list-table {
  flex-direction: column;
  border-collapse: collapse;
}
  
.list-table th {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 12px;
  border-bottom: 1px solid rgb(228, 229, 230);
  white-space: nowrap;
  cursor: pointer;
}

.list-table td {
  font-size: 12px;
  border-bottom: 1px solid rgb(228, 229, 230);
  padding: 9.5px;
  white-space: nowrap;
}

.name {
  padding-left: 42px;
  padding-right: 27px;
  width: 100%;
}

.price, .compare, .volume {
  padding-right: 18px;
}

.list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-table tbody tr:hover {
  background-color: #e6e6e6;
}

.scrollable-tbody {
  overflow-y: auto;
  /* 스크롤바가 보일 최대 높이 지정 */
  max-height: calc(100vh - 200px);
}

/* 스크롤바가 지나는 영역의 색상 */
.scrollable-tbody::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9f9;
}

/* 스크롤바 속성 설정 */
.scrollable-tbody::-webkit-scrollbar-thumb {
  /* 스크롤바를 숨김 */
  display: none;
}

/* 스크롤바 hover시 색상 변경 */
/* 
.scrollable-tbody::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
} 
*/


.td-star {
  width: 20px;
}

.td-name {
  width: 100%;
}

.td-rise {
  color: #22ab94;
}

.td-fall {
  color: #f23645
}

.td-even {
  color: black;
}

.sort {
  position: relative;
  top: 1px;
  left: 1px;
}

.AskingPrice {
  width: 2140px;
  background-color: red;
}

.ClosedPrice {
  width: 2140px;
  background-color: red;
}

/* footer CSS */
.footer {
  height: 60px;
  border-top: 1px solid #E3E8EC;
  margin: 0 10px;
}

.content-container {
  display: flex;
}

.aside {
  background-color: red;
}