body {
  background-color: rgb(249, 249, 249);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.header {
  background-color: rgb(249, 249, 249);
  height: 80px;
  border-bottom: 1px solid rgb(228, 229, 230);
  margin: 0 10px;
}

.center {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left {
  background-color: rgb(249, 249, 249);
  width: 70%;
  float: left;
}

.left-top {
  background-color: rgb(249, 249, 249);
  height: 65%;
}

.left-bottom {
  background-color: rgb(249, 249, 249);
  height: 35%;
  border-top: 1px solid rgb(228, 229, 230);
}

.right {
  background-color: rgb(249, 249, 249);
  float: left;
  width: 30%;
  border-left: 1px solid black;
}

.footer {
  background-color: rgb(249, 249, 249);
  height: 80px;
  border-top: 1px solid rgb(228, 229, 230);
  margin: 0 10px;
}

.div-list {
  background-color: white;
  width: 415px;
  max-height: calc(100vh - 135px);
  margin: 15px 0px 15px 15px;
  overflow: auto; 
}

.list-search {
  height: 36px;
  border-bottom: 1px solid silver;
}

input {
  margin: 10px 10px;
  border: none;
  width: 80%;
}

.btn-search {
  border: none;
  background-color: white;
}

.img-search {
  position: relative;
  height: 18px;
  top: 6px;
}

.list-category {
  border-bottom: 1px solid silver;
  padding: 12px 0px 12px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.krw, .btc, .usdt, .favorite {
  font-size: 13px;
  font-weight: bold;
  padding: 0 35px;
}

.list-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-collapse: collapse;
}

.list-table tbody tr td {
  font-size: 12px;
  border-bottom: 1px solid rgb(228, 229, 230);
}

.list-table th {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 12px;
  border-bottom: 1px solid rgb(228, 229, 230);
  white-space: nowrap;
}

.list-table td {
  padding: 9.5px;
  white-space: nowrap;
}

.price, .compare, .transaction {
  padding-right: 14px;
}

.name {
  padding-left: 42px;
  padding-right: 108px;
}

.list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-table tbody tr:hover {
  background-color: #e6e6e6;
}