body {
  background-color: rgb(249, 249, 249);
}
  
.list-table {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  word-break: break-all;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.header {
  background-color: rgb(249, 249, 249);
  height: 70px;
  border-bottom: 1px solid rgb(228, 229, 230);
  margin: 0 10px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 2px;
}

.title-img {
  padding: 15px;
  width: 28px;
}

.title-name {
  font-size: 25px;
  margin-left: -5px;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Gowun Batang', serif;
  font-family: 'Roboto Flex', sans-serif;
}

.center {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left {
  background-color: rgb(249, 249, 249);
  width: 85%;
  float: left;
}

.left-top {
  background-color: rgb(249, 249, 249);
  height: 65%;
}

.left-bottom {
  background-color: rgb(249, 249, 249);
  height: 35%;
  border-top: 1px solid rgb(228, 229, 230);
}

.right {
  background-color: rgb(249, 249, 249);
  float: left;
  width: 18%;
  border-left: 1px solid rgb(228, 229, 230);
}

.footer {
  background-color: rgb(249, 249, 249);
  height: 80px;
  border-top: 1px solid rgb(228, 229, 230);
  margin: 0 10px;
}

.div-list {
  background-color: white;
  width: 415px;
  max-height: calc(100vh - 135px);
  margin: 15px 0px 15px 15px;
  }

.list-search {
  height: 36px;
  border-bottom: 1px solid silver;
}

input {
  margin: 10px 10px;
  border: none;
  width: 80%;
  outline: none;
}

.img-search {
  position: relative;
  height: 16px;
  left: 10px;
  top: 2.5px;
  margin-right: 7px;
}

.list-category {
  border-bottom: 1px solid silver;
  padding: 12px 0px 12px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.krw, .btc, .usdt, .favorite {
  font-size: 13px;
  font-weight: bold;
  padding: 0 35px;
}

.list-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Gowun Batang', serif;
  font-family: 'Roboto Flex', sans-serif;
}
  
.scroll-tbody {
  overflow-y: auto;
  max-height: calc(100vh - 180px); /* 스크롤바가 보일 최대 높이 지정 */
}

/* 스크롤바가 지나는 영역의 색상 */
.scroll-tbody::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9f9;
}

/* 스크롤바 속성 설정 */
.scroll-tbody::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 5px;
}

/* 스크롤바 hover시 색상 변경 */
.scroll-tbody::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.list-table th {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 12px;
  border-bottom: 1px solid rgb(228, 229, 230);
  white-space: nowrap;
}

.list-table td {
  font-size: 12px;
  border-bottom: 1px solid rgb(228, 229, 230);
  padding: 9.5px;
  white-space: nowrap;
}

.name {
  padding-left: 42px;
  padding-right: 120px;
  width: 100%;
}

.price, .compare, .volume {
  padding-right: 15px;
}

.list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-table tbody tr:hover {
  background-color: #e6e6e6;
}

.td-name {
  width: 100%;
}

.td-rise {
  color: #22ab94;
}

.td-fall {
  color: #f23645
}

.td-even {
  color: black;
}

.sort {
  position: relative;
  top: 1px;
  left: 1px;
}