.apexchart-tooltip {
    display: flex;
    flex-direction: row;
    padding: 7px 8px 5px 8px;
    font-size: 12.5px;
    background: #fff !important;
    border: 1px solid transparent !important;
}

.open-close {
    margin-right: 7px;
}

.apexchart-tooltip div {
    margin-bottom: 3px;
}

.apexchart-tooltip div:last-child {
    margin-bottom: 0px;
}